@import url('https://fonts.googleapis.com/css2?family-Poppins');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('palaka.jpg') no-repeat;
	background-size: cover;
	background-position: center;

}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20 px 100 px;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

.logo {
	font-size: 1cm;
	color: #fff;
	user-select: none;
}

nav {
	display: flex;
	flex-wrap:wrap;
	position: relative;
	font-size: 0.5cm;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

header nav button {
	margin-right: 2vw;
}

div.modal-content {
	background: darkolivegreen;
}

#lo{
	display: none;
}


/*.navigation .btnLogin-popup {
	width: 120px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.5cm;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}

.navigation .btnLogin-popup:hover {
	background: #fff;
	color: darkolivegreen;
}*/


